<div class="form-froup row d-flex flex-column" style="margin-bottom: 15px;">

    <div *ngIf="editAdd == 1">
        <label class="col col-form-label">Препарат:</label>
        <div class="col">
            <select class="form-control" [(ngModel)]="medicineName" #ctrl="ngModel" name="medicine"
                (click)="getMedicineListByName()">
                <option>Название</option>
                <option *ngFor="let dataItem of medicineList">
                    {{dataItem.name}}
                </option>
            </select>
        </div>
    </div>

    <div>
        <label class="col col-form-label">Цена препарата</label>

        <div class="col-sm" style="margin-bottom: 15px;">
            <input class="form-control" [(ngModel)]="price" placeholder="Цена">
        </div>
    </div>

</div>

<button (click)="addMedicine()" *ngIf="editAdd == 1" [disabled]="0 >= price || price > 200000 || medicineName == '' " class="btn btn-primary">
    Добавить
</button>

<button (click)="editMedicine()" *ngIf="editAdd == 2" [disabled]="price <= 0" class="btn btn-primary">
    Изменить
</button>