<div class="container">

    <h3 style="margin-bottom: 20px;">{{brand.name}}: аптеки</h3>

    <table class="table table-striped" *ngIf="brandPharmacyList[0] != null">
        <thead>
            <tr>
                <th>Название аптеки</th>
                <th>Адрес</th>
                <th>Номер телефона</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dataItem of brandPharmacyList">
                <td>{{dataItem.pharmacyName}}</td>
                <td>{{dataItem.address}}</td>
                <td>{{dataItem.phoneNumber}}</td>
            </tr>
        </tbody>
    </table>

    <h4 style="margin-top: 20px;" *ngIf="brandPharmacyList[0] == null">Пока что аптек нет</h4>
</div>