<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd; margin-bottom: 20px;">
  <div class="container">
    <a class="navbar-brand" routerLink="">IMed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse text-uppercase" style="margin-top: 3px;" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style="margin-left: 10px;">
          <a routerLink="brand" class="nav-link" href="#">Brands<span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item active">
          <a routerLink="medicine" class="nav-link" href="#">Medicines<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <a class="nav-link" routerLink="login"><i class="fa-regular fa-user"></i><span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>