<div class="container">

    <h1>{{brand.name}}: аптеки</h1>

    <div style="margin-bottom: 15px;">
        <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal"
        data-backdrop="static" data-keyboard="false" (click)="addPharmacy()">Добавить аптеку</button>
    </div>

    <div class="modal fade bd-example-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-add-edit-pharmacy-modal [pharmacy]="pharmacy" *ngIf="activateAddEditPharmacyComponent"></app-add-edit-pharmacy-modal>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped" *ngIf="brandPharmacyList[0] != null">
        <thead>
            <tr>
                <th>Название аптеки</th>
                <th>Адрес</th>
                <th>Номер телефона</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dataItem of brandPharmacyList">
                <td>{{dataItem.pharmacyName}}</td>
                <td>{{dataItem.address}}</td>
                <td>{{dataItem.phoneNumber}}</td>
                <td>
                    <a class="btn btn-warning" routerLink="../../medicines-quantity-list/{{dataItem.pharmacyId}}" style="margin-right: 15px;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>

                    <a class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false" style="margin-right: 15px;" (click)="editClick(dataItem)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>

                    <a class="btn btn-danger" (click)="deletePharmacy(dataItem.pharmacyId)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>  
        </tbody>
    </table>

    <h4 style="margin-top: 20px;" *ngIf="brandPharmacyList[0] == null">Пока что аптек нет, вы можете их добавить.</h4>
</div>